.container {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.theTitle {
    width: 95%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #ff6060;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    align-items: center;
    color: #ffffff;
    margin: 10px 0;
    padding: 10px;
}
.toggle {
    width: 95%;
    /* height: 32vh; */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 142.6%;
    color: #ff6060;
    border-radius: 5px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: -10px 0 10px 0;
    padding: 10px;
}
button {
    background-color: #ff6060;
    color: #f7f7f7;
    border: transparent;
}
.arrowDown {
    transform: rotate(180deg);
}
@media only screen and (min-width: 576px) {
    .toggle {
        font-size: 14px;
        /* height: 23vh; */
    }
}
@media only screen and (min-width: 756px) {
    .toggle {
        font-size: 16px;
        /* height: 22vh; */
    }
}
@media only screen and (min-width: 1025px) {
    .theTitle {
        width: 80%;
        font-size: 24px;
    }
    .toggle {
        width: 80%;
        font-size: 18px;
        /* height: 22vh; */
    }
    .fa-chevron-up {
        font-size: 20px;
    }
}
@media only screen and (min-width: 1440px) {
    .toggle {
        width: 80%;
        font-size: 20px;
        /* height: 20vh; */
    }
}
