h2 {
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat";
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}
.header img {
    width: 35%;
}

/*tablettes*/
@media only screen and (min-width: 576px) {
    .header img {
        width: 23%;
    }
}
@media only screen and (min-width: 1025px) {
    .header img {
        width: 18%;
    }
}
/*desktop >1440*/
@media only screen and (min-width: 1440px) {
    .header {
        left: 100px;
        top: 40px;
    }
}
